*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
font-size: 45px;
font-weight: 900px;

}
.colour-orange{
    color: #FD6E0A;
}
.btn{
background-color: #FD6E0A;
border: none;
padding: 18px 35px;
font-size: 20px;
color: white;
border-radius: 5px;
cursor: pointer;
}
.about-heading{
    max-width: 827px;
   text-align: center;
    margin: 0 auto;
}
.about-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.about-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
    
}

/* main style */
header{
    background-color: #FFF8F3;
   background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position:top left,bottom right;
    padding-top: 50px;

}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
   align-items: center;
    gap: 51px;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    
    color: #181818;
    margin-bottom: 20px;
   
}
#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom:30px ;
}
#banner .banner-img img{
   max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
#about .about-content{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}
#about .about-content .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #181818;
}
#skills,#resume{
    padding-top: 130px;
}
.skill-content{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-box{
    display: flex;
    gap: 26px;
}
.skills-card{
    padding: 30px;
    /* border: 2px solid red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;
    
}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skills-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
.skills-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume-content{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.card-info{
    font-size: 20px;
    color: 600px;
    color: #474747;
    margin-bottom: 20px;
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}
.resume-content hr{
    margin: 30px;
}
.text-center{
    text-align: center;
}
footer{
    padding-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
    margin-top: 113px;
}
#footer-content{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.social{
    max-width: 562px;
}
.social h2{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #181818;
}
.social p{
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 30px;
    color: #474747;
}
.icons a{
    margin-right: 24px;
}
#footer-content form input[type="text"] {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}
#footer-content form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}


